.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* @media screen and (max-width: 500px){
  .homepage
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1e152a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: url(userviewbackground.jpg) no-repeat center center fixed;
  background-size: cover;
  /* overflow: hidden; */
  height:100%;
}

ul{
  list-style: none;
}
.food_card_details{
  margin-right:auto; 
  margin-left:auto ;
}

.food_details{
 margin: 50px;
 width: 18rem;
}
.food_details .card-header{
  font-weight: 500;
}
.logo {
  margin-left: 1rem;
}
.homepage {
 font-family: 'Capriola', sans-serif;
 color: white;
 font-size: 40px;
}
.user_view {
  margin: auto;
  width: 15rem;
}
.user_view_page {
  font-family: 'Oswald', sans-serif;
  color: #a5c882,
}
.user_view_header{
  font-weight: 800;
  color: #1e152a;
}
.user_calories_box{
  font-weight: 800;
  color: #1e152a;
  text-align: left;
}
.nav{
  border-bottom: 1px solid #333;
}
.calorieTable {
  width: 100%;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}
.table_container{
  margin-left: 25vw;  
}
table {
  border: 6px solid #a5c882;
  width: 800px;
  height: 200px;
  background-color:  #96D4D4;
}
th {
  border-bottom: 1px solid black;
} 
td {
  text-align: center;
}

.HomeTitle {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  color: #1e152a;
  margin: center;
}
.recipe_list {
  margin: 24px;
  width: 18rem;
}
.login {
  margin: 10px;
}
a.login {
color:#1e152a;
}
.delete {
  margin: 10px;
}
.user_view .card-title{
  text-align: center;
  font-weight: 500;
}
.weekly_view_box{
  justify-content: "center";
  align-items: "center";
}
.weekly_view {
  font-family: 'Oswald', sans-serif;
  color: #1e152a;
}
.weekly_view_header{
 font-size: 50px;
 font-weight: 800;
}
.workout_text.header{
  font-family: 'Oswald', sans-serif;
  color: #1e152a;
  font-size: 50px;
  text-align: right;

}
.workout_text{
  font-family: 'Oswald', sans-serif;
  color: #1e152a;
  text-align: right;
  font-size: 20px;
  font-weight: 800;
}
.email_pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.food_card_details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.food_search {
  border-radius: 2px; 
  background-color: white;
  color: #1e152a;;
  border: 2px solid #4CAF50; /* Green */
}
.meal_button{
  background-color: white;
  color: #1e152a;
  border: 2px solid #4CAF50; /* Green */
}
.recipe_button{
  background-color: white;
  color: #1e152a;
  border: 2px solid #4CAF50; /* Green */
}
.homepage {
  color: #1e152a;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
.homepage_button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 4px;
}
.contact_me {
  color: #1e152a;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.contact_me_p {
  font-weight: 30;
  font-size: 20px;
}
.contact_me_h3 {
  font-weight: 900;
  font-size: 40px;
}
.nav{
    display: 'flex';
    justify-content: "right";
    align-items: "right";
    height: '100vh';
}
.mobile-menu-icon {
display: none;
}
@media screen and(max-width: 780px){
.Log{
  display: felx;
  position: absoulte;
  top: 15px;
  left: 35px;
}
.nav-links {
 display:none;

}
.nav-links-mobile {
  position: absoulte;
  display: block;
  list-style: none;
  background-color: #a5c882;
  left: 0;
  top:75px;
  transition: all 0.5 ease-out;
  width: 100%;

}
}
.contact_me_button {
  background-color: #a5c882 !important;
  color: #1e152a;
  border: 2px solid #4CAF50; /* Green */
}
a.excercise {
  color:#1e152a !important;
  }  

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  table, thead, tbody, th, td, tr { 
		display: table-column; 
	}
  tr { border: 1px solid #ccc; }
	
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
.HomeTitle h3 {
    display:none;
}

}
